name: Release Jellyfin 2FA Plugin

on:
  push:
    tags:
      - '*'
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version 1'
        required: false
      prerelease:
        description: 'Mark as prerelease'
        required: false
        default: 'false'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: ${{ inputs.version || github.event.release.tag_name || github.ref_name }}
      IS_PRERELEASE: ${{ (inputs.prerelease == 'true') || github.event.release.prerelease }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish Plugin
        run: dotnet publish Jellyfin.Plugin.2FA/Jellyfin.Plugin.2FA.csproj -c Release -o ./publish

      - name: Create Release Zip
        run: |
          zip -r Jellyfin.Plugin.2FA-${{ env.RELEASE_VERSION }}.zip ./publish

      - name: Upload workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: Jellyfin.Plugin.2FA-${{ env.RELEASE_VERSION }}
          path: Jellyfin.Plugin.2FA-${{ env.RELEASE_VERSION }}.zip

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          name: Release v${{ env.RELEASE_VERSION }}
          prerelease: ${{ env.IS_PRERELEASE }}
          files: Jellyfin.Plugin.2FA-${{ env.RELEASE_VERSION }}.zip
